
			<div class="container" ng-controller="userInfoCtrl">
				<label>User ID:</label>
				<label value="{{user.uId}}" >{{user.uId}}</label><br><br>
				<label>Name:</label>
				<input type="text" id="userName" value="{{user.uName}}"><br><br>
				<label>Mandatory Attributes:</label><br>
				<table border="1">
				<th>Attribute</th>
				<th>Value</th>
					<tr ng-repeat="(key, value) in manAttrList">
					  <td>{{key}}</td>
					  <td><input type="text" value="{{value}}" /></td>  
					</tr>
				</table>
				<br><br>
				<label>Arbitrary Attributes:</label><br>
				<table border="1">
				<th>Attribute</th>
				<th>Value</th>
					<tr ng-repeat="(key, value) in arbAttrList">
					  <td>{{key}}</td>
					  <td><input type="text" value="{{value}}" /></td>  
					</tr>
				</table>
				<br><br>
				<label>Permissions:</label><br>
				<br>
				<table border="1">
					<tr ng-repeat="(key, value) in permissions">
					  <td>{{key}}</td>
					  <td>{{value}}</td>  
					</tr>
				</table>
				
				<fieldset  data-ng-repeat="choice in choices">
					  <select id="resourceDropdown" ng-model="choice.resource" ng-options="item for item in res_dd" >
					  </select>
					  <select id="permissionDropdown" ng-model="choice.permission" ng-options="item for item in perm_dd">
					  </select>
					  <button class="button" ng-show="$last" ng-click="removeChoice()">-</button>
				</fieldset>
				<button class="button" ng-click="addNewChoice()">Add fields</button>
	
				<div id="choicesDisplay">
					{{ choices }}
				</div>
				
				<button class="button" ng-click="addNewChoice()">Save</button>

				
			</div>
