
<div class="container" class="wrap" >
		
        <div ng-controller="userListCtrl">
            <button class="button" ng-click="">Back</button>
            <label>Search</label>
            <p><input type="text" ng-model="user_name"></p>
            <ul>
              <li ng-repeat="user in users | filter:user_name">
                  <input type="button" value="{{user.uName}}" ng-click="selectUser(user.uId)"/><br>
              </li>
            </ul>
            <button class="button" ng-click="">Add</button>
        </div>        
</div>

