
	<div class="wrap" >
		
        <div class="centreleft" ng-controller="centreCtrl">
            <button ng-click="">Back</button>
            <span>Search</span>
            <p><input type="text" ng-model="user_name"></p>
            <ul>
              <li ng-repeat="user in users | filter:user_name">
                {{ user }}
              </li>
            </ul>
            <button ng-click="">Add</button>
        </div>
        
        <div class="centreright">Right
        
        </div>
        
        
</div>

