
        <form name="loginForm" ng-controller="LoginController" ng-submit="login(credentials)">
            <label for="username">Username:</label>
            <input type="text" name="username" ng-model="credentials.username" required>
            <br/>
            <label for="password">Password:</label>
            <input type="password" name="password" ng-model="credentials.password" required>
            <br/>
            <span ng-show="loginForm.username.$touched && loginForm.username.$invalid">The name is required.</span>
            <span ng-show="loginForm.username.$untouched">The name is required</span>
            <span ng-show="loginForm.password.$untouched">The password is required</span>
        <button type="submit">Login</button>
        </form>

