<div class="container" ng-controller="groupAddCtrl">
<label>Add users:</label><br>
    <fieldset  data-ng-repeat="choice in userChoices">
          <select id="userDropdown" ng-model="choice.user" ng-options="item.uId as item.uName for item in allUsers" >
          </select>
          <button class="button" ng-show="$last" ng-click="userRemoveChoice()">-</button>
    </fieldset>
    <button class="button" ng-click="userAddNewChoice()">Add fields</button>
           
    <div id="userChoicesDisplay">
        {{ userChoices }}
    </div>
    </div>