<div ng-controller="groupInfoCtrl">
    The users in the group are:
    <table border="1">
        <tr ng-repeat="value in users">
          <td>User</td>
          <td>{{value.uName}}</td>  
        </tr>
    </table>
    <br>
    Add users:<br>
    <fieldset  data-ng-repeat="choice in userChoices">
          <select id="userDropdown" ng-model="choice.user" ng-options="item for item in user_dd" >
          </select>
          <button class="remove" ng-show="$last" ng-click="userRemoveChoice()">-</button>
    </fieldset>
    <button class="addfields" ng-click="userAddNewChoice()">Add fields</button>
           
    <div id="userChoicesDisplay">
        {{ userChoices }}
    </div>
    <br>
    <button ng-click="">Add</button><br><br>
</div>