.wrap {
    width: 100%;
    overflow:auto;
}

.fleft {
    float:left; 
    width: 15%;
}


.fright {
	float: right;
    width: 84.5%;
	margin-left:0.25%;

}

.centreleft{
	float:left; 
    width: 50%;
}

.centreright{
	float: right;
    width: 45.5%;
	margin-left:0.25%;
}


